<div class="houston_app" *ngIf="astronaut">
  <h2>{{ astronaut.lastName}}'s Details</h2>
  <div class="houston_form">

    <div class="houston_details_values">
      <div class="houston_astronaut_feature">
        <label>ID: </label>
        <span>{{astronaut.id}}</span>

      </div>
      <div class="houston_astronaut_feature">
        <label>First Name:</label>
        <input [(ngModel)]="astronaut.firstName" placeholder="first name" />

      </div>
      <div class="houston_astronaut_feature">
        <label>Last Name:</label>
        <input [(ngModel)]="astronaut.lastName" placeholder="last name" />

      </div>
      <div class="houston_astronaut_feature">
        <label>Super Skill:</label>
        <input [(ngModel)]="astronaut.superSkill" placeholder="super skill" />
      </div>
    </div>

    <div class="houston_form_buttons">
      <button (click)="save()">Save</button>
      <button (click)="goBack()">Back</button>
    </div>
  </div>
</div>