.houson_header {
  margin: 20px 0;
  display: flex;
}

.houston_form {
  margin: 30px;
  width: 300px;
}

.houston_form_title {
  margin-bottom: 15px;
}

.houston_form_buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.nasa_logo {
  flex: 0 0 18%;
}

.nasa_logo_img {
  width: 100px;
  height: 80px;
}

.houston_title {
  flex: 1;
}