<div class="houston_app">
  <div class="houson_header">
    <div class="nasa_logo">
      <img class="nasa_logo_img" src="assets/nasa_logo.svg" alt="NASA logo">
    </div>
    <div class="houston_title">
      <h2>Houston Control Center</h2>
    </div>
  </div>

  <div class="houston_form">
      <div class="houston_form_title">
        <h4>New Astronaut</h4>
      </div>
      <div class="houston_astronaut_feature">
        <label>
          First Name:
        </label>
        <input #firstName />
      </div>
      <div class="houston_astronaut_feature">
        <label>
          Last Name:
        </label>
        <input #lastName />
      </div>
      <div class="houston_astronaut_feature">
        <label>
          Birth Date:
        </label>
        <input type="date" #birthDate />
      </div>
      <div class="houston_astronaut_feature">
        <label>
          Super Skill:
        </label>
        <input #superSkill />
      </div>
      <div class="houston_form_buttons">
        <button (click)="add({
            firstName: firstName.value,
            lastName: lastName.value,
            birthDate: birthDate.value,
            superSkill: superSkill.value
          }); 
          firstName.value='';
          lastName.value='';
          birthDate.value='';
          superSkill.value='';">
          Add
        </button>
      </div>
  </div>

  <div class="houson_table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Birth Date</th>
          <th scope="col">Super Skill</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let astronaut of astronauts">
          <td>{{astronaut.id}}</td>
          <td>{{astronaut.firstName}}</td>
          <td>{{astronaut.lastName}}</td>
          <!-- <td>{{astronaut.birthDate.getDate()}}-{{astronaut.birthDate.getMonth()}}-
            {{astronaut.birthDate.getMonth() + 1}}-{{astronaut.birthDate.getFullYear()}}</td> -->
          <td>{{astronaut.birthDate | date:"dd-MM-yyyy"}}</td>
          <td>{{astronaut.superSkill}}</td>
          <td>
            <a routerLink="/detail/{{astronaut.id}}">
              <button>Detail</button>
            </a>
          </td>
          <td>
            <button title="delete astronaut" (click)="delete(astronaut)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>