.houston_app {
  max-width: 600px;
  margin: auto; 
}

input {
  text-align: right;
  width: 180px
}

.houston_astronaut_feature {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.houston_form {
  width: 300px;
}

.houston_form_buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.houston_form_buttons button {
  margin-left: 5px;
}
